ol {
  color: crimson;
  text-align-last: auto;
}
p1 {
  color: black;
  ;
}

h1 {
    color:crimson;
    text-align: center;
  }
  
h3 {
    color: crimson;
    text-align: center;
  }
p2 {
    font-family: sans-serif;
    font-style: italic;
    text-decoration-style: wavy;
    text-align-last: inherit;
    text-indent: 2px;
    text-decoration-color: lawngreen;
    text-anchor: start;
    box-shadow: lightseagreen;
    border-image-width: 2px;
    padding: 2px;
    
  }
  
img {
    float: right;
    background-color: gray;
  }
@media screen and (min-width: 480px) and (max-width: 767px)
  {body {
    background-color: maroon;
    color: black;
  }}
.About {
    text-emphasis-color: yellow;
    font-size: 1pc;
    font-weight: bold;
    font-stretch: semi-condensed;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
  }
p4 {
    font-weight: bold;
}
p6 {
  color: crimson;
}