h4 {color: brown;
text-align: center;}

.Hobbies {color: brown;
}


h2{color:brown;
text-align: center;}

.AboutMe {color: crimson;
}
.study {
    background-color: khaki;
    
}
.test-box1 {
    padding: 6px;
    border: 2px solid red;
    margin: 20px;
    background-color: gold;
}
.test-box2 {
    padding: 6px;
    border: 2px solid red;
    margin: 20px;
    background-color: gold;
}
.test-box3{
    padding: 6px;
    border: 2px solid red;
    margin: 20px;
    background-color: gold;
}